body {
  margin: 20px;
}
.banner {
  width: 100%;
  height: 630px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("group-13.png");
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
}

.header {
  color: white;
  position: absolute;
  text-align: center;
  top: 30%;
  left: 20%;
  font-family: "Mulish", sans-serif;
}
.banner-heading {
  font-size: 50px;
  font-weight: 900;
}

.input-field {
  display: flex;
  height: 30px;
  padding-top: 15px;
  background-color: #000;
  color: #fff;
  opacity: 0.5;
}

/* Tour section */

.tours {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.tour-heading {
  font-size: 20px;
  font-weight: 400;
  padding-right: 100px;
}

.tour-heading li,
p {
  font-size: 20px;
  margin-bottom: 20px;
  color: rgb(105, 103, 103);
}

.tour-btn {
  height: 40px;
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px;
}

/* Tour section done */

/* destination section */

.destination-details {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.div-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}

.div-1-para {
  top: 40%;
  left: 23%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 40px;
  color: white;
}

.div-2-para {
  top: 36%;
  left: 73%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 40px;
  color: white;
}

.div-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 20px;
}
.div-3-para {
  top: 285%;
  left: 17%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 40px;
  color: white;
}

.div-4-para {
  top: 285%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 40px;
  color: white;
}

.div-5-para {
  top: 285%;
  left: 82%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 40px;
  color: white;
}

.div--3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 20px;
}

.div-6-para {
  top: 335%;
  left: 28%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 40px;
  color: white;
}

.div-7-para {
  top: 335%;
  left: 73%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 40px;
  color: white;
}

/* destination section done */

/* choose section */

.choose {
  margin-top: 60px;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card-1 {
  background-color: rgb(221, 184, 190);
  padding-top: 15px;
  padding-left: 20px;
  border-radius: 10px;
}

.card-img-1 {
  height: 70px;
  width: 70px;
}
.card-2 {
  background-color: rgb(212, 255, 241);
  padding-top: 15px;
  padding-left: 20px;
  border-radius: 10px;
}

.card-img-2 {
  height: 70px;
  width: 70px;
}

.card-3 {
  width: 50%;
  background-color: rgb(221, 184, 190);
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.card-img-3 {
  height: 70px;
  width: 70px;
}

/* responsive for mobile device */

/* @media screen and (max-width:600px) {
  
} */
